@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AutoShop</h1>
    <p class="lead">AutoShop Analaysis je tu da vam osigura bezbijednu kupovinu automobila.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dobro dizajniran market</h2>
        <p>
            Market dizajniran po najmodernijim standaridima osigurava pregledan izbor bogate ponude automobila.
            
        </p>
    </div>
    <div class="col-md-4">
        <h2>Precizne analize</h2>
        <p>Precizne analize uz graficke prikaze vam pruzaju najbolji uvid u trenutno stanje na trzistu. Najprodavaniji modeli, Modeli sa najvise prijava kvarova, Autosaloni sa najboljim dojmovima korisnika - su samo neke analize koje ce vam pruziti sigurnost pri kupovini.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Dostupan kontakt</h2>
        <p>Nase ljubazno osoblje ce Vašem telefonskom pozivu rado izaci u susret da bi Vam riješilo sve nedoumice i probleme.</p>
    </div>
</div>